---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro | about</title>
  </head>
  <body>

    <a href="/">Home</a>
    <a href="/blog">Blog</a>

    <h1>About Page</h1>
    <h2>This is my new Astro Site!</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum laudantium
      nihil corporis molestias itaque quod, vel ea? Illo repellendus vero soluta
      reiciendis hic! Beatae, veritatis doloremque! Excepturi facilis sunt
      culpa.
    </p>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit,
      mollitia?
    </p>
  </body>
</html>
