---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro | Blog</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <h1>My Astro Learning Blog</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, praesentium
      qui. Quia, voluptatum! Possimus dolore, voluptatibus molestias omnis
      voluptate esse enim beatae magni ut recusandae?
    </p>
  </body>
</html>
